.c-Watch.c-Watch--42 {
  transform: scale(var(--scale42));
}
.c-Watch {
  display: flex !important;
  align-items: center;
  justify-content: center;
  aspect-ratio: 696/1099;
}
.u-items-center {
  align-items: center;
}
.u-relative {
  position: relative;
}

.u-flex {
  display: flex;
}
:not(body) {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.c-UI.-show-fakes .c-Watch_Item.-fakes {
  visibility: visible;
}

.c-Watch_Item.-straps {
  aspect-ratio: 696/1099;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-Watch_Item,
.c-Watch_Item img {
  position: absolute;
  width: 100%;
}

.o-Img img {
  pointer-events: none;
}

.slick-slide img {
  display: block;
}

.slick-slide img {
  display: block;
}

.c-Watch_WFBg {
  aspect-ratio: 1/1;
  background-color: #000;
  border-radius: 50%;
  left: 12%;
  top: 26%;
  width: 76%;
  z-index: 2;
}

.u-absolute {
  position: absolute;
}
.c-Watch_Item.-cases {
  aspect-ratio: 698/745;
  z-index: 3;
}
.c-Watch_Item.-cases,
.c-Watch_Item.-watchfaces {
  align-items: center;
  display: flex;
  justify-content: center;
}

.o-Img,
.o-Img img {
  backface-visibility: hidden;
}

/* .c-Watch_Item.-cases.-s42,
.c-Watch_Item.-watchfaces.-s42 {
  backface-visibility: hidden;
  transform: scale(0.915) translateZ(0.01px);
} */
.c-Watch_Item.-watchfaces {
  aspect-ratio: 696/500;
  z-index: 4;
}

.c-Watch_Item img {
  height: 100%;
  left: 0;
  top: 0;
}

/* *************************************************** */

#watch-slider .slick-slide > div {
  margin: 0 var(--my-variable);
  animation-name: watch-case;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.strap-slider .slick-slide > div {
  margin: 0 var(--my-variable);
  animation-name: watch-strap;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.face-slider .slick-slide > div {
  margin: 0 var(--my-variable);
  /* margin: 0 10%; */
  animation-name: watch-face;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes watch-case {
  100% {
    margin: 0 5%;
  }
}

@keyframes watch-strap {
  100% {
    margin: 0 10%;
  }
}

@keyframes watch-face {
  100% {
    margin: 0 15%;
  }
}

#floating,
#parent {
  width: 100%;
}

#parent {
  position: absolute;
}

:root {
  --my-variable: 5%;
}
